<table id="attachments-table" class="nested-fields-table">
  <thead>
  <tr>
    <th style="width:15px;"></th>
    <th><%= t('activerecord.attributes.etabliocms_pages/attachment.data_file_name') %></th>
    <th><%= t('activerecord.attributes.etabliocms_pages/attachment.data_file_size') %></th>
    <th style="width:15px;"><%= t('admin.actions') %></th>
  </tr>
  </thead>

  <tbody>
  <% @page.attachments.each do |attachment| %>

      <tr class="fields">
        <td>
          <%= link_to t('admin.attachments.copypaste'), "#", :class => "icon icon-copypaste", :title => t('admin.attachments.copypaste') %>
        </td>
        <td>
          <%= link_to attachment.data_file_name, attachment.data.url(:original, false), :"data-popup" => true %>
        </td>
        <td class="centered"><%= number_to_human_size(attachment.data_file_size) %></td>
        <td>
          <%= link_to I18n.t('admin.attachments.destroy'),
                      destroy_attachment_admin_page_path(@page.id, :attachment_id => attachment.id),
                      {:method => :delete,
                       :confirm => t("admin.attachments.destroy_confirmation"),
                       :remote => true,
                       :class => 'icon icon-destroy', :title => I18n.t('admin.attachments.destroy')} %>
        </td>
      </tr>

  <% end %>
  </tbody>
</table>
