<div class="fields">
  <p>
    <%= f.label :locale %>
    <%= f.select :locale, I18n.available_locales.map { |l| [t("admin.locales.#{l}"), l.to_s] } %>
  </p>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'text-field' %>
  </p>

  <% EtabliocmsPages.areas.each do |area| %>
      <p>
        <%= label_tag "#{f.object.object_id}_#{area}", t("helpers.label.etabliocms_pages_page.contents.#{area}")  %>
        <%= f.textile_text_area "areas[#{area}]",
                                :id => "#{f.object.object_id}_#{area}",
                                :value => f.object.areas.values_at(area).first.to_s, :width => 560, :height => 200 %>
      </p>
  <% end %>

</div>
