<% content = f.object %>
<div class="fields" id="tabs-<%= content.object_id %>">

  <%= render "layouts/errors", :target => content %>

  <%= f.hidden_field :locale, :value => content.locale %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'text-field' %>
  </p>

  <% EtabliocmsPages.areas.each do |area| %>
      <p>
        <%= label_tag "#{content.object_id}_#{area}", t("helpers.label.etabliocms_pages_page.contents.#{area}") %>
        <%= f.textile_text_area "areas[#{area}]",
                                :id => "#{content.object_id}_#{area}",
                                :value => content.areas[area].to_s, :width => 460, :height => 200 %>
      </p>
  <% end %>

  <p>
    <%= f.label :meta_title %>
    <%= f.text_field :meta_title, :class => 'text-field' %>
  </p>

  <p>
    <%= f.label :meta_description %>
    <%= f.text_area :meta_description, :class => 'small-text-area' %>
  </p>

  <% if !@page.new_record? && respond_to?(:page_path) %>
      <p>
        <strong>Náhled: </strong>
        <% path = I18n.available_locales.size == 1 ? page_path(@page) : page_path(@page.locale, @page) %>
        <%= link_to @page.title, path, :"data-popup" => "true" %> : <%= path %>
      </p>
  <% end %>

</div>
