<% content = f.object %>
<div class="fields" id="tabs-<%= content.object_id %>">

  <%= render "layouts/errors", :target => content %>

  <%= f.hidden_field :locale, :value => content.locale %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'text-field' %>
  </p>

  <% EtabliocmsPages.areas.each do |area| %>
      <p>
        <%= label_tag "#{content.object_id}_#{area}", t("helpers.label.etabliocms_pages_page.contents.#{area}") %>
        <%= f.textile_text_area "areas[#{area}]",
                                :id => "#{content.object_id}_#{area}",
                                :value => content.areas[area].to_s, :width => 460, :height => 200 %>
      </p>
  <% end %>

  <% if !@page.new_record? && respond_to?(:page_path) %>
      <p>
        <% I18n.locale = content.locale %>
        <strong>Náhled: </strong>
        <%= link_to @page.title, page_path(@page), :"data-popup" => "true" %>
      </p>
  <% end %>

</div>
