<%= render "layouts/errors", :target => @page %>

<fieldset>
  <legend><%= t('page.admin_legend_basic') %></legend>

  <p>
    <%= f.label :child_of, :id => "page_child_of_label" %>
    <%= f.select :child_of, [[t('hierarchy.top_level'), nil]] + @page.other_pages_for_select,
                 :selected => @page.parent ? [@page.parent.titles, @page.parent_id] : nil %>
  </p>

  <p>
    <%= f.label :visible, :id => "page_visible_label" %>
    <%= f.boolean_yes_no_select :visible %>
  </p>

  <p>
    <%= f.label :url, :id => "page_url_label" %>
    <%= f.text_field :url, :class => 'text-field' %>
  </p>

</fieldset>

<fieldset>
  <legend><%= t('page.admin_legend_contents') %></legend>

  <div id="contents">
    <ul>
      <%@page.contents.sort_by{|a| a.locale.to_s }.each do |content| %>
          <li><a href="#tabs-<%= content.object_id %>"><%= t("admin.locales.#{content.locale}") %></a></li>
      <% end %>
    </ul>

    <%= f.fields_for :contents do |builder| %>
        <%= render "content_fields", :f => builder %>
    <% end %>
  </div>

</fieldset>

<fieldset>

  <% I18n.locale = I18n.default_locale %>
  <p>
    <%= submit_tag t('admin.save'), :class => 'submit' %>
  </p>

</fieldset>

<script>
    $(function() {
        $("#contents").tabs();
    });
</script>
